.App {
  text-align: center;
}

.App-header {
  background-color: #5a42c7;
  height: 45px;
  padding: 5px;
  color: white;
	text-align: left;
}

.App-title {
  font-size: 1.5em;
}

.App-intro {
  font-size: large;
}

.ui.container {
	padding-top: 15px;
	width: 60%;
}

.ui.steps .step {
	min-width: 210px;
}

.ui.steps .step.active {
	background: #f1eff9;
}

.ui.button {
	margin: 0em 1.25em 1.25em 0em;
}

.ui.fluid.button {
	height: 170px;
}

.ui.animated.button .hidden.content {
	top: 35%;
}
