.App {
	background-color: #fafafa;
  text-align: center;
}

.App-header {
  background-color: #5a42c7;
  height: 45px;
  padding: 5px;
  color: white;
	text-align: left;
}

.App-title {
  font-size: 1.5em;
}

.App-intro {
  font-size: large;
}

.ui.container {
	padding-top: 15px;
	width: 80%;
}

.ui.steps .step {
	min-width: 30%;
}

.ui.steps .step.active {
	background: #f1eff9;
}

.ui.button {
	margin: 0em 1.25em 1.25em 0em;
}

.ui.fluid.button {
	height: 50px;
	width: 45%;
	display: inline-grid;
	text-align: left;
}

.ui.animated.button .hidden.content {
	top: 50%;
}

.ui.text.menu {
	margin: 0;
	padding: 0;
	background: #5a42c7;
}

.ui.text.menu .item {
	color: white;
	font-weight: bold;
}

.header-title {
	font-size: 25px;
	text-transform: lowercase;
}

.ui.menu .item > i.icon {
	padding-left: 15px;
	padding-right: 25px;
}

.ui.menu .item > i.icon:hover {
	color: grey;
}



